main {
    background-color: black;
    color: white;
    height: 100vh;
}

.giphys {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 1000px;
    margin: 0 auto;
}

.gif img {
   max-width: 250px;
}
h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: 'Electrolize', sans-serif;
}
button {
    text-align: center;
}
